doctype html
html(lang=htmlWebpackPlugin.options.locale.code prefix="og: http://ogp.me/ns#")
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','cfDataLayer','GTM-PKQFGQB');

    title=htmlWebpackPlugin.options.t('title')
    meta(charset="utf-8")

    //
      |
      ............................................................
      .........1............1............1............1...........
      ........11...........11...........11...........11...........
      .......111..........111..........111..........111...........
      ......1111.........1111.........1111.........1111...........
      ........11...........11...........11...........11...........
      ........11...........11...........11...........11...........
      ........11...........11...........11...........11...........
      ........11...........11...........11...........11...........
      ........11...........11...........11...........11...........
      ........11...........11...........11...........11...........
      ........11...........11...........11...........11...........
      ........11...........11...........11...........11...........
      ........11...........11...........11...........11...........
      ........11....ooo....11....ooo....11....ooo....11...........
      ......111111..ooo..111111..ooo..111111..ooo..111111.........
      ............................................................

    meta(property="og:title" content=htmlWebpackPlugin.options.t('title'))
    meta(name="twitter:title" content=htmlWebpackPlugin.options.t('title'))

    meta(name="author" content="1.1.1.1")
    meta(name="generator" content="1.1.1.1")

    meta(name="twitter:card" content="summary")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")

    meta(name="description" content=htmlWebpackPlugin.options.t('description'))
    meta(name="og:description" content=htmlWebpackPlugin.options.t('description'))
    meta(name="twitter:description" content=htmlWebpackPlugin.options.t('description'))

    meta(property="og:url" content="https://1.1.1.1/dns/")
    meta(property="og:image" content="https://1.1.1.1/media/card-v2.png")

    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")

    link(rel="canonical" href="https://1.1.1.1/dns/")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")

  body
    // Noscript Google Tag Manager
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PKQFGQB' height='0' width='0' style='display:none;visibility:hidden')
    main
      include ./hero.pug
      include ./explanation.pug
      include ./setup.pug
      include ./share.pug
      include ./faq.pug
      include ./footer.pug
