section#explanation(data-section="explanation")
  .content(data-subsection="dns")
    h1.mobile-only.collapsed-top-margin!=htmlWebpackPlugin.options.t('explanation.dnsHeader')

    .secondary
      include ../../media/dns-book-closed.svg

    .primary
      h1.desktop-only.collapsed-top-margin!=htmlWebpackPlugin.options.t('explanation.dnsHeader')

      p!=htmlWebpackPlugin.options.t('explanation.dnsExplanation')

  .content.with-gutter(data-subsection="security")
    .primary
      .secondary.mobile-only
        include ../../media/dns-explanation.svg

      p!=htmlWebpackPlugin.options.t('explanation.dnsSlowInsecure')
      p!=htmlWebpackPlugin.options.t('explanation.dnsAlternative')

section(data-section="explanation-privacy")
  .content
    header
      h1.collapsed-top-margin!=htmlWebpackPlugin.options.t('explanation.privacyHeader')
      h2!=htmlWebpackPlugin.options.t('explanation.privacyGuaranteeData')

  .content(data-subsection="privacy")
    .secondary.desktop-only
      include ../../media/shopping-cart.svg

    .primary
      p
        span!=htmlWebpackPlugin.options.t('explanation.privacyGuaranteeLogs')

      p!=htmlWebpackPlugin.options.t('explanation.privacyConclusion')

section(data-section="explanation-stats")
  .content
    header
      h1!=htmlWebpackPlugin.options.t('explanation.performanceHeader')
      h2!=htmlWebpackPlugin.options.t('explanation.performanceSubheader')

  .content
    .primary
      p!=htmlWebpackPlugin.options.t('explanation.fastestDNS')
      p!=htmlWebpackPlugin.options.t('explanation.speedContinued')

    .chart(data-ref="statsChart" style="opacity: 0")
      .bar-chart.first(animated data-total="10.95")
        .bar-chart-primary
          span.bar-chart-fill
          span.bar-chart-label 10.95ms
        span.bar-chart--text
          strong 1.1.1.1

      .bar-chart.second(animated data-total="19.85")
        .bar-chart-primary
          span.bar-chart-fill
          span.bar-chart-label 19.85ms
        span.bar-chart--text Cisco OpenDNS

      .bar-chart.third(animated data-total="33.85")
        .bar-chart-primary
          span.bar-chart-fill
          span.bar-chart-label 33.85ms
        span.bar-chart--text Google Public DNS

      .bar-chart.fourth(animated data-total="68.23")
        .bar-chart-primary
          span.bar-chart-fill
          span.bar-chart-label 68.23ms
        span.bar-chart--text Average ISP
